scopeName: 'source.cirru'
name: 'Cirru'
fileTypes: [
  'cirru'
]
patterns: [
  name: 'function.cirru'
  match: '(?=^(\\s*))[^\\(\\)\\s\\,\"]+'
,
  name: 'function.cirru'
  match: '(?<=\\()[^\\(\\)\\s\\,\"]+'
,
  name: 'function.cirru'
  match: '(?=\\s+\\$\\s+)[^\\(\\)\\s\\,\"]+'
,
  name: 'calling.cirru'
  match: '(?=^)\\s*([^\\(\\)\\s\\,\"]+)'
  captures:
    '1':
      name: 'function.cirru'
,
  name: 'calling.cirru'
  match: '((\\$\\s+)+)([^\\(\\)\\s\\,\"]+)?'
  captures:
    '2':
      name: 'operator.cirru'
    '3':
      name: 'function.cirru'
,
  name: 'operator.cirru'
  match: '[\\)\\(,]|(?=\\s)\\$(?=\\s*$)'
,
  name: 'numeric.cirru'
  match: '\\b[\\d\\._]+\\b'
,
  name: 'variable.cirru'
  match: '(?!=($\\s+))[^\\(\\)\\s\\,\"]+'
,
  begin: '"'
  end: '"'
  name: 'string.quoted.double.cirru'
  patterns: [
    match: '\\\\.'
    name: 'constant.character.escape.cirru'
  ]
]
