
.source.cirru .keyword.cirru {
  color: hsl(292, 100%, 39%);
}

.source.cirru .entity.cirru {
  color: hsl(31, 33%, 60%);
}

.source.cirru .variable.cirru {
  color: hsl(170, 49%, 37%);
}

.source.cirru .string.cirru {
  color: hsl(0, 0%, 48%);
  background-color: hsla(0, 100%, 100%, 0.05);
}

.source.cirru .numberic.cirru {
  color: hsl(0, 83%, 48%);
}
